.banner_container{
    width: 100vw;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(221, 216, 216);
}

.banner_container > img{
    height: 150px;
    border: 1px solid tramsparent;
    border-radius: 20px;
}
